.body {
  display: grid;
  grid-template-areas: 'head' 'main' 'foot';
  grid-template-rows: var(--header-height) 1fr minmax(30px, auto);
}
.header {
  grid-area: head;
  height: var(--header-height);
  display: grid;
  align-content: center;
  padding: 0 var(--global-padding);
}
.globalNav {
  font-family: var(--font-family-h);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.globalNav ul {
  display: flex;
  align-items: baseline;
  gap: var(--size-2);
  list-style: none;
}

.globalNav li {
  flex: 0 1 auto;
  list-style: none;
}

.container {
  grid-area: main;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* border-left: 4vw solid rgb(var(--foreground-rgb)); */
  position: relative;
}

.footer {
  grid-area: foot;
  margin: 0;
  padding: var(--size-1) var(--global-padding);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  gap: var(--size-1);
}
.footer .copyright {
  text-align: center;
  margin: 0;
  font-size: var(--font-size-sm);
}

.chatButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  padding: 8px;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
