.link {
  display: inline-block;
  color: rgb(var(--foreground-rgb));
  text-transform: uppercase;
  line-height: 2em;
  font-weight: bold;
  font-family: var(--font-family-h);
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  border-radius: 2rem;
  position: relative;
  margin: 8px;
}
@media (prefers-reduced-motion: no-preference) {
  .link.hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: -1;
    top: -50%;
    left: -50%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: sparkle 0.8s steps(1) infinite;
  }
  .link.click::after {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: -1;
    top: -50%;
    left: -50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('./spark-1.svg');
    animation: scaleup 0.3s forwards;
  }
}
@media (prefers-color-scheme: dark) {
  .link.hover::after,
  .link.click::after {
    filter: brightness(100);
  }
}

@keyframes sparkle {
  0% {
    background-image: url('./spark-1.svg');
  }
  50% {
    background-image: url('./spark-2.svg');
  }
}

@keyframes scaleup {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
