* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  background-color: $body-color;
  margin: 0;
}
p {
  line-height: 1.6em;
}
h1, h2, h3, h4 {
  font-family: $font-family-h;
  font-weight: 700;
}
h1 {
  font-size: 4.6rem;
  margin: 0 0 1em;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $main-color;
  font-weight: $bold;
  text-decoration: none;
  &:hover {
    color: $font-color;
  }
}
.button {
  font-weight: $bold;
  text-decoration: none;
  background-color: $font-color;
  color: $body-color;
  display: inline-block;
  padding: 2px 1em;
  border-radius: 1em;
  font-family: $font-family-h;
  letter-spacing: 1px;
  font-size: .9em;
  line-height: 1.2;
  &:hover {
    color: $main-color;
  }
}
