.work {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--size-3);
}

@media screen and (max-width: 768px) {
  .work {
    grid-template-columns: 1fr;
  }
}

.content {
  padding: var(--size-1) 0 var(--size-2);
}

.title {
  margin: 0 auto var(--size-1);
  font-size: var(--font-size-lg);
}

.tech {
  display: flex;
  gap: var(--size-1);
  margin: var(--size-2) 0;
  flex-wrap: wrap;
}

.tech span {
  background-color: rgba(var(--foreground-rgb), 0.05);
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 2px 8px;
  border-radius: 4px;
}

.description {
  margin: var(--size-3) 0;
}

.date {
  color: rgb(var(--foreground-rgb));
  font-size: 0.8em;
}

.buttonWrapper {
  margin: var(--size-1) 0;
}
